@font-face {
    font-family: 'mus';
    src: url(InStudio-P4/fonts/MUSICNET.ttf);
}

body {
    background-color: rgb(41, 40, 40);
}

#heading {
    font-family: monospace;
    color: whitesmoke;
    font-size: 80px;
    text-align: center;
}

#tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* gap: 5px; */
    justify-content: center;
    padding-left: 500px;
    padding-top: 60px;
    row-gap: 50px;
    column-gap: 10px;
}

.box {
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white ;
    perspective: 1000px;
    transition: transform 1s ;
    transform-style: preserve-3d;
}

#play {
    color: white;
    font-size: 40px;
    font-family: monospace;
    padding-left: 850px;
    /* padding-top: -60px; */
}

#instructions {
    color: white;
    font-size: 40px;
    font-family: monospace;
    top: 100px;
    padding-left: 100px;
    /* padding-top: 30px; */
}


#steps {
    color: white;
    font-size: 30px;
    font-family: monospace;
    top: 100px;
    padding-left: 100px;
    /* padding-top: 30px; */
}

