@font-face {
    font-family: 'mus';
    src: url(InStudio-P4/fonts/MUSICNET.ttf);
}

body {
    background-color: rgb(253, 236, 204);
}

#heading {
    font-family: monospace;
    color: rgb(211, 114, 114);
    font-size: 80px;
    text-align: center;
}

#tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* gap: 5px; */
    justify-content: center;
    padding-left: 500px;
    padding-top: 100px;
    row-gap: 20px;
    column-gap: 10px;
}

.box {
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(58, 58, 58) ;
    perspective: 1000px;
    transition: transform 1s ;
    transform-style: preserve-3d;
}

#play {
    color: rgb(211, 114, 114);;
    font-size: 40px;
    font-family: monospace;
    padding-left: 850px;
    padding-top: 80px;
}

